<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: header}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $("document").ready(function() {
            $("#SSRF").submit(function( event ) {
                event.preventDefault();
                $('#output').html('')
                $('#ip_address').text("")

                var formData = {
                    hostname: $("input#hostname").val()
                };

                $.post("/ssrf", JSON.stringify(formData),function(result) {
                    $('#output').html(result.message)
                }).fail(function(error) {
                    $("#ip_address").text("You\'re IP is : " + error.responseJSON.error)
                });

                $("input#hostname").val("")
            });
        });
    </script>
</head>
<body>
<div class="container">
    <div class="container mt-5">
        <div class="row mt-0 pt-0">
            <div class="col mt-0 p-3 border border-2 border-primary rounded-2">
                <div class="text-center mt-3">
                    <form id="SSRF">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="hostname" placeholder="Target URL (https://www.baidu.com)" required>
                            <label for="hostname">Target URL (https://www.baidu.com)</label>
                        </div>
                        <input class="btn btn-primary w-25 py-2 mb-5" type="submit" value="Check">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="main" class="row mt-5">
        <div id="output" class="row m-5"></div>
        <h1 id="ip_address"></h1>
    </div>
</div>
</body>
</html>